*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio header */


header{
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    padding-top: 40px;
    background-size: 30%;
}


#logo{
    width: 350px;
}
   

#paragraph{
    color: rgb(132, 128, 128);
}

#text{
    color:#15bae3;
}

#text-2{
    font-size: 15px;
}

/* fine header */

/* inizio main */

p{
    margin-top: 20px;
    font-size: 18px;
}

#text-3{
    background-color: yellow;
}

ul{
    margin-top: 30px;
    font-size: 18px;
}

table{
    margin-top: 22px;
    border-spacing: 0;
}

thead{
    background-color: #00c5f6;
    color: white;
}

#row-1{
    background-color: #99ebff;
}

tfoot{
    background-color:#99ebff;
}

/* fine main */

/* inizio footer */

h3{
    color: rgb(84, 83, 83);
    margin-top: 20px;
}

#monitor{
    background-image: url("../img/monitor.jpg");
}

#graph{
    background-image: url("../img/graph.jpg");
}

.text-white{
    color: #ffffff;
}

.image{
    width: 208px;
    height: 160px;
    padding: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* fine footer */